@import "../public/css/plugins.css";
@import "../public/css/style.css";
@import "react-circular-progressbar/dist/styles.css";

@font-face {
  font-family: serpentine-bold;
  src: url('./fonts/Serpentine-Bold.otf');
}

@font-face {
  font-family: serpentine-light;
  src: url('./fonts/Serpentine-Light.otf');
}

@font-face {
  font-family: serpentine-medium;
  src: url('./fonts/Serpentine-Medium.otf');
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'serpentine-light';
} */

/* .edrea_tm_button {
  font-family: 'serpentine-light';
} */

body {
  background-image: url(../public/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.edrea_tm_header .menu ul li a, a, .serpentine-family {
  font-family: 'serpentine-bold' !important;
}

.edrea_tm_modalbox {
  top: -15px;
}
.edrea_tm_mobile_menu,
.edrea_tm_settings {
  z-index: 999;
}
svg.CircularProgressbar {
  width: 110px;
  height: 110px;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: unset !important;
  font-size: unset;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #eb4a4c;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: #a2a2a2;
  stroke-linecap: round;
}
.testimonial {
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .waves canvas {
    bottom: -34px;
    position: fixed;
  }
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

.button-group .button:first-child .alink {
  background-color: #0070f3 !important;
}

.button-group {
  display: block !important;
  text-align: center;
}

.button .alink {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: var(--main-color);
  padding: 10px 40px;
  text-align: center;
  border-radius: 50px;
  font-family: "Poppins";
  transition: all 0.3s ease;
}

.button-group a:hover{
  background-color: #fff;
}

.button-group .button:last-child {
  margin-top: 10px;
}

.button-group .button:last-child:hover {
  color: rgb(7, 117, 160);
}

.f-16 {
  font-size: 16px;
}

#signin{
  z-index: 20;
}

.edrea_tm_modalbox.opened {
  z-index: 30;
}

.button .alink:hover {
  /* background-color: #fff !important; */
  color: black;
}

.dropbox {
  position:absolute;
  width: 100px;
}

.accounticon {
  margin-top: -5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  padding: 5px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.logout:hover {
  cursor: pointer;
}

.no-padding {
  padding-left: 0px !important;
}

.email_modalbox input{
  width: 100%;
  height: 45px;
  background-color: #a2a2a2;
  border: none;
  color: #121212;
  padding: 20px;
  font-family: "Poppins";
  border-radius: 10px;
}

.email_modalbox {
  margin-top: 100px;
  height: 350px;
}
.left-logo {
  position:absolute;
  top: 0;
  left: 0;
}

canvas {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.edrea_tm_button .register_btn {
  width: 50%;
  margin-top: 20px;
}

.button .alink {
  width: 50%;
  margin-top: 20px;
}

.comic-container {
  position: relative;
  display: grid;
}

.book-area {
  position: relative;
  width: 75%;
  z-index: 9;
  text-align: center;
  overflow: hidden;
  place-self: center;
}

.iplaymorecomic {
  box-shadow: 0 0 10px 0 rgb(255 255 255 / 50%);
  margin: 0 auto;
  z-index: 100;
}

.demopage {
  padding: 20px;
  background-color: #fdfaf7;
  color: #785e3a;
  border: 1px solid #c2b5a3;
  overflow: hidden;
  transform-style: preserve-3d;
}

.demopage:nth-child(odd) {
  border-left: 0;
  box-shadow: inset 7px 0 20px -7px rgb(0 0 0 / 100%);
}

.demopage:nth-child(even) {
  border-right: 0;
  box-shadow: inset -7px 0 20px -7px rgb(0 0 0 / 100%);
}

.img-container {
  position:relative;
  width: 100%;
  height: 100%;
}

.comic-pagination {
  margin-top: 10px;
}

.btn-pagination {
  margin:0 10px;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  background-color: #eb4a4c;
  font-family: 'serpentine-bold' !important;
}

/*---------------------------------------------------*/
/*	09) About Game
/*---------------------------------------------------*/

.edrea_tm_modalbox .inner_game {
  width: 50%;
  transform: translateX(-3%);
}

.game-animation {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  left: 2%; 
  top: 20px;
}

.game-animation .logo {
  position:relative;
  display: flex;
}

.gif-area {
  position: relative;
  width: 100%;
  height: 40%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 0 5px;
}

.go-link {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.grey {
  color: #666;
}

.go-link .grey {
  letter-spacing: -1px;
}

.aboutgame {
  margin: 20px 100px;
}

.teaser {
  margin-bottom: 15px;
}

.go-link h3, .go-link h6 {
  line-height: 100%;
}

.stf__parent {
  transform: none !important;
}

.handle-flip {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.zoom {
  position: relative;
  float: right;
  margin-top: -40px;
  color: white;
  z-index: 999;
}

.transform-component-module_content__2jYgh, .transform-component-module_wrapper__1_Fgj {
  width:100% !important;
  height: auto;
}
.edrea_tm_home {
  display: grid;
}
.home-thunder {
  position: relative;
  width: 450px;
  height: 285px;
  place-self: center;
}

.header-logo {
  position: relative;
  width: 220px;
  height: 50px;
}

@media (min-width: 2100px) {
  body {
    font-size: 22px !important;
  } 
  /* .header-logo {
    width: 440px !important;
    height: 100px !important;
  } */

  .edrea_tm_header .menu ul li a {
    font-size: 26px !important;
  }
}

@media (min-width: 1920px) and (min-width: 2100px) {
  body {
    font-size: 20px !important;
  } 

  .aboutgame {
    margin: 50px 100px;
  }

  .home-thunder {
    width: 615px;
    height: 380px;
  }
  /* .header-logo {
    width: 440px;
    height: 100px;
  } */
}

@media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
  .edrea_tm_header .menu ul li a {
    font-size: 24px;
  }
  .edrea_tm_header {
    width: 90%;
  }
  .edrea_tm_content {
    top: 130px;
    width: 80%;
  }
  .edrea_tm_header .header_inner {
    padding-top: 45px;
  }
  .checkemail {
    margin-top: 200px;
  }
  .aboutgame {
    height: 95%;
  }
  .home-thunder {
    width: 560px;
    height: 355px;
  }
  .header-logo {
    width: 330px;
    height: 75px;
  }
  .edrea_tm_section#comic, .edrea_tm_section#novel {
    top: 40px;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {

  .edrea_tm_header .menu ul li a {
    font-size: 20px;
  }
  .edrea_tm_header {
    width: 90%;
  }
  .edrea_tm_content {
    width: 80%;
  }
  .home-thunder {
    width: 450px;
    height: 285px;
  }
  
}

@media (max-width: 1400px) {
  .edrea_tm_header .menu ul li a {
    font-size: 17px;
  }
  .edrea_tm_header {
    width: 90%;
  }
  .edrea_tm_content {
    width: 80%;
  }

  .aboutgame {
    margin: 0 50px;
  }

  .game-animation .link-title {
    font-size: 28px;
  }
}

@media (max-width: 1280px) {
  .edrea_tm_header .menu ul li a {
    font-size: 16px;
  }
  .edrea_tm_header {
    width: 90%;
  }
  .edrea_tm_content {
    width: 80%;
  }
  .coloring {
    font-size: 55px;
  }
  .aboutgame {
    margin: 0px;
  }

}

@media (max-width: 1024px) {
  body {
    font-size: 10px;
  }
  .about_title {
    margin-top: 30px;
  }
  .edrea_tm_content {
    z-index: 99;
    width: 100%;
  }
  .flipbook {
    width: 100%;
  }
  .coloring {
    font-size: 50px;
  }
  .game-animation .link-title {
    font-size: 24px;
  }
  .handle-flip {
    bottom: 0px !important;
  }
  .book-area {
    width: 95%;
  }

  .zoom-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .edrea_tm_button a, .edrea_tm_button .a {
    font-size: 10px;
  }
  .button label {
    font-size: 12px;
  }
  .coloring {
    font-size: 40px;
  }

  .handle-flip {
    padding: 0 20px;
    right: 0px;
  }

}

@media (max-width: 767px) {
  .edrea_tm_mobile_menu .menu_list ul li {
    font-size: 16px;
  }
  .btn-pagination {
    margin: 0;
  }
  .demopage {
    padding: 0 0 20px 0;
    box-shadow: none !important;
  }

  .aboutgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    margin: 0 7px;
  }

  .aboutgame .game-animation {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 10px;
  }

  .aboutgame .inner_game {
    width: 100%;
    transform: translateX(-50%);
  }

  .zoom {
    margin-top: 10px;
  }

}

@media (max-width: 440px) {
  .edrea_tm_button .register_btn {
    width: 100%;
  }
  .button .alink {
    width: 100%;
  }
  
  .btn-pagination {
    width: 100%;
  }
  .coloring {
    font-size: 30px;
  }
}